
.navbar {
  height: 100px;

  .wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    height: 100%;
    margin: auto;
    padding-inline: 2rem;
    z-index: 999;

    .menu-logo-container {
      display: flex;
      justify-content: space-between;
      width: 8rem;
    }
  }


  .icon {
    width: 1.25rem;
    aspect-ratio: 1;
    color: var(--light-main);
    color: var(--secondary);
  }

  span {
    font-size: larger;
    font-weight: bold;
  }

  .social {
    display: flex;
    gap: 1rem;
  }
}

svg {
  fill: currentColor;
}