
.navbar {
  height: 100px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    margin: auto;
  }

  .icon {
    width: 1rem;
    aspect-ratio: 1;
    color: var(--light-main);
  }

  span {
    font-weight: bold;
  }
}

svg {
  fill: currentColor;
}